@page "/adminterminy"
@model Korepetycje_Matematyka.Pages.ADMIN_ListaTerminówModel
@{
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
             <th><center>Dzień Tygodnia</center></th>
           <th><center>Godzina </center></th>
           <th><center>Godzina </center></th>  <th>
               <center>Godzina </center></th>
          <th><center>Godzina </center></th>
           <th><center>Godzina </center></th>  
           <th><center>Godzina </center></th>
            <th><center>Godzina </center></th>
             <th><center>Godzina </center></th>
              <th><center>Godzina </center></th>
               <th><center>Godzina </center></th>
        </tr>
    </thead>
    <tbody>
         @foreach(var item in Model.Terminy)
        {
            <tr>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Dzień_Tygodnia</button><br /><center><a class="btn btn-success" asp-page="CreateTerminy" asp-route-id="@item.Id">Edit</a></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina1</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina2</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina3</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina4</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina5</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina6</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina7</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina8</button></center></td>
            <td> <center><button asp-page-handler="edit" class="btn btn-success">@item.Godzina9</button></center></td>
            </tr>
        }
        
    </tbody></table>
